body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5b28ae;
  background: -webkit-linear-gradient(left, #5b28ae, #b249b6);
  background: -moz-linear-gradient(left, #5b28ae, #b249b6);
  background: linear-gradient(to right, #5b28ae, #b249b6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
